.main-menu {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d3d3d3;

    ul {
        margin-top: 1em;
        margin-left: 1em;
        padding-left: 0;
    }

    li {
        display: inline-block;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        padding: 0 1em 0 0 ;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid #d8d8d8;
        }
    }
}
