{% extends 'base.html.twig' %}

{% block title %}Hello User{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}</h1>
    <a href="{{ path('app_logout')}}">Log out</a>
</div>
{% endblock %}
